.fixed-menu {
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: $z-fixed-menu;

    @include tablets {
        display: none;
    }
}

.fixed-menu__item {
    margin-bottom: rem(5px);

    &--active {
        .fixed-menu__link {
            border-color: $red;
        }
    }
}

.fixed-menu__link {
    display: block;
    position: relative;
    width: rem(18px);
    height: rem(18px);
    border-radius: 50%;
    border: rem(1px) solid transparent;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background-color: #292929;
    }
}