.reviews-section {
    position: relative;

    &:before {
        content: url(../../img/box.png);
        position: absolute;
        right: 18%;
        bottom: rem(629px);

        @include tablets {
            right: 13%;
            bottom: rem(946px);
        }

        @include phones {
            bottom: rem(979px)
        }
      }
}

.reviews__display {
    background: $lightGrey;
    padding: rem(42px);
    margin-bottom: rem(16px);
    overflow: hidden;
    position: relative;

    @include tablets {
        margin-bottom: rem(47px);
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: rem(84px);
        height: rem(84px);
        background: #fff;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-62px);
    }
}

.reviews__list {
    position: relative;
    min-height: 350px;
}

.reviews__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    opacity: 0;
}

.reviews__item.active {
    position: static;
    opacity: 1;
    pointer-events: unset;
}

.reviews__display-inner {
    display: flex;
    align-items: center;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__avatar {
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        margin-bottom: rem(32px);
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(40px);

    @include tablets {
        margin-left: 0;
    }
}

.reviews__title {
    margin-top: rem(64px);
    margin-bottom: rem(32px);

    @include tablets {
        margin-top: rem(168px);
    }
}

.reviews__title-text {
    font-size: rem(24px);
    font-weight: bold;
    margin-bottom: rem(28px);
}

.reviews__text p {
    color: $text;
    margin-bottom: rem(38px);
}

.reviews__author {
    font-size: rem(18px);
    font-weight: bold;
}

.reviews-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(65px);

    @include tablets {
        margin-bottom: rem(180px);
    }
}

.reviews-switcher__item {
    width: 72px;
    height: 74px;
    border: rem(4px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover {
        border-color: $red;
    }
}

.reviews-switcher__link {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}